[Desktop Entry]
Type=Application
Name=Proximity
Icon=com.forensant.proximity
StartupNotify=true
Exec=com.forensant.proximity
X-GNOME-UsesNotifications=true