[Desktop Entry]
Type=Application
Name=Pākiki Proxy
Icon=com.forensant.pakiki
StartupNotify=true
Exec=com.forensant.pakiki
Categories=Network;Security;
X-GNOME-UsesNotifications=true