[Desktop Entry]
Type=Application
Name=Pākiki Proxy
Icon=/usr/share/pixmaps/pakiki.svg
StartupNotify=true
Exec=pakiki
Categories=Network;Security;
X-GNOME-UsesNotifications=true